div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}
.card {
    min-width: 20rem;
    max-width: 20rem;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}
.textLimit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 @media screen and (max-width: 992px) {
    .card {
      max-width: max-content;
    }
    .vl{
        display: none;
    }
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color:#21c4a9;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: #21c4a9;
}