@font-face {
	font-family: 'KanitFont';
	src: url('./fonts/Kanit-Regular.ttf') format('truetype');
	/* Add additional font formats and paths if needed */
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'KanitFont'
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
	font-family: 'KanitFont'
}
.card{
  cursor: pointer;
  transition: transform 0.2s;
}
.card:hover{
  transform: scale(1.05);
}

/* @font-face { font-family: LucidaGrande; src: url('storage/LucidaGrande.ttf'); } 
*{
  font-family: "LucidaGrande";
} */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

body{
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'KanitFont'
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}

.navbar-brand {
	letter-spacing: 3px;
	
	color: white;
  }
  
  .navbar-brand:hover {
	  color: white;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
	color: white;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
	color: white;
  }
  
  .navbar-scrolled {
	background-color: #ffede7;
  }
  .nav-item:hover {
	opacity: 0.8;
  }